/* Audrey Eyrolles - Je. 11 Juin 2020

	SOURCES

Icones
- Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> 

*/



header, footer {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	background-color: blue;
	color: white;
}


/* -------------------------------- header + bandeauHaut */

.container {
	margin: 0;
	padding: 0;
}

header {
	position: sticky;
	top: 0px;
}


header a {
	color: white;
	font-size: 1,5em;
	text-decoration: none;
}

.navbar {
	/*pourquoi ne prend pas toute la largeur ? */
	width: 40%;
	display: flex;
	justify-content: space-evenly;
}

.bandeauHaut {
	width: 100%;
	height: 250px;
	text-align: center;
	margin-bottom: 80px;
	background: linear-gradient(#000B, #0000), url("../img/christina.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/* ---------------------------- bandeauBas + footer */

.bandeauBas {
	width: 100%;
	height: 275px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #a3d6d9;
}

.contact {
	width: 70%;
	height: auto;
	text-align: center;
	color: white;
}

.contact p {
	margin-bottom: 35px;
}

.btnContact {
	padding: 10px;
	width: 175px;
	display: inline-block;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: solid white;
	border-radius: 5px;

}

.reseauxSoc {
	margin-top: 7px;
	display: flex;
	justify-content: center;
}

.reseauxSoc img {
	max-width: 25px;
	margin: 7px;
}

footer {
	display: flex;
	align-items: center;
	font-size: .8em;
}

footer a {
	color: white;
	text-decoration: none;
}

/* ------------------------------ accueil.html */

.mainAccueil {
	width: 70%;
	margin: auto;
	margin-bottom: 80px;
}

h1 {
	margin: 0;
	color: #c9d3d5;
}

h3 {
	width: 75%;
}

#accueil {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#accueil p {
	font-style: italic;
	color: #d6e0e1;
}


#presentation {
	margin-top: 50px;
	display: flex;
}

#presentation > * {
	width: 50%;
}

#presentation figure img {
	max-width: 500px;
}

#gammes {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.imgGammes {
	padding: 10px 10px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.imgGammes img {
	max-width: 375px;
}

figcaption {
	margin-top: 10px;
	margin-bottom: 50px;
}

/* ============================== articles.html */

.mainAside {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.mainArticle {
	margin: 60px 0px;
	padding: 0 50px;
	width:50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	flex-wrap: wrap;
}

.mainArticle .precise {
	margin-top: 0;
	padding-top: 0;
	font-style: italic;
}

.mainArticle img {
	margin-bottom: 50px; 
}

aside {
	width: 30%;
	margin-top: 100px;
	text-align: center;
}

aside img {
	max-width: 260px;
	margin-top: 10px;
}

/* ======================================= mentions légales */

.mLegales {
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mLegales article {
	width: 60%;
}

.mLegales h2 {
	margin-top: 60px;
}